<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(function(){
	$("#btnUpdate").click(function(){
		document.form1.action="update.do";
		document.form1.submit();
	});
	$("#btnDelete").click(function(){
		if(confirm("삭제하시겠습니까?")){
			document.form1.action="delete.do";
			document.form1.submit();
		}
	});
});
</script>
</head>
<body>
<h2>방명록 편집</h2>
<form name="form1" method="post">
<table border="1" width="800px">
	<tr>
		<td>이름</td>
		<td><input name="name" size="20" th:value="${dto.name}" /></td>
	</tr>
	<tr>
		<td>이메일</td>
		<td><input name="email" size="40" th:value="${dto.email}" /></td>
	</tr>
	<tr>
		<td>비밀번호</td>
		<td><input type="password" name="passwd" /></td>
	</tr>
	<tr>
		<td colspan="2"><textarea name="content" 
			rows="20" cols="80" th:inline="text">[[${dto.content}]]</textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="hidden" name="idx" th:value="${dto.idx}" />
			<input type="button" value="수정" id="btnUpdate" />
			<input type="button" value="삭제" id="btnDelete" />
		</td>
	</tr>
</table>
</form>
</body>
</html>







