<!DOCTYPE html>
<!-- 타임리프 템플릿으로 선언 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<!-- include="디렉토리/페이지::프레그먼트이름"
remove="tag" 바깥쪽 태그 제거 -->
<meta th:include="include/header::header" 
	th:remove="tag"></meta>	
<title>Insert title here</title>
<!-- @{/디렉토리/파일} static resource를 참조함 -->
<script th:src="@{/js/test.js}"></script>
<script>
$(function(){
	//test();
});
</script>
</head>
<body>

<!-- <img th:src="@{/images/Tulips.jpg}" 
width="50px" height="50px" /> -->

<div>방명록</div>
<!-- static resource : @{디렉토리/파일} -->
<a href="write.do">방명록 작성</a>
<table border="1">
	<tr>
		<th>번호</th>
		<th>이름</th>
		<th>내용</th>
		<th>날짜</th>
	</tr> <!--  개별변수:${집합변수} -->
	<tr th:each="row:${list}">
		<td><span th:text="${row.idx}"></span></td>
		<td><span th:text="${row.name}"></span></td>
		<td>
<a th:href="@{view.do(idx=${row.idx})}"><span th:text="${row.content}"></span>
</a>		
		</td>
		<td><span th:text=
"${#dates.format(row.post_date, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
	</tr>
</table>

</body>
</html>










